<h1><%= title %></h1>

<ul>
  <% if (bookinstance_list.length === 0) { %>
  <li>There are no books</li>
  <% } else {%> <% bookinstance_list.forEach(bookinstance => { %>
  <li>
    <a href="<%=bookinstance.url %>"><%= bookinstance.book.title%></a>
    <% if (bookinstance.status == 'Available') { %>
    <span class="text-success"><%= bookinstance.staus %></span>
    <% } else if(bookinstance.status == 'Maintenance') {%>
    <span class="text-danger"><%= bookinstance.staus %></span>
    <% } else {%>
    <span class="text-warning"><%= bookinstance.staus %></span>
    <% } %> <% if (bookinstance.status != 'Available') { %>
    <span>(Due: <%= bookinstance.due_back %>)</span>
    <% } %>
  </li>
  <% }) %> <% } %>
</ul>
